<app-top-bar></app-top-bar>

<div class="container">
  <form [formGroup] = "checkoutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="min">
          Número mínimo
        </label>
        <input id="min" type="number" formControlName="min">
      </div>
    
      <div>
        <label for="max">
            Número mínimo

        </label>
        <input id="max" type="number" formControlName="max">
      </div>
    
      <button class="button" type="submit">Enviar</button>
  
  </form>
</div>